.publicity {
  display: grid;
  background-image: url("https://ik.imagekit.io/x4ikoq975/Study_Docs/publicity_wRBJVdLsv.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1653508618290");
  padding: 15%;
  margin-top: 4%;
  text-align: center;
}

.project-goal {
  display: grid;
  background-color: #9c6183;
}

ul {
  list-style: none;
  text-align: left;
}

.projetct-description {
  display: grid;
  background-color: #6294cc;
  text-align: justify;
  margin-top: 4%;
}

.text1,
li {
  font-size: 18px;
}

.text2 {
  font-size: 16px;
  margin: 4% 6%;
}

.module-lesson {
  display: grid;
  margin-top: 4%;
}

.module-lesson-container {
  display: grid;
  grid-template-areas: "module lesson";
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
}

.module {
  grid-area: module;
  display: grid;
  grid-template-areas:
    "image1 title1"
    "image1 text1";
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  background-color: #ffb72b;
}

.image-module {
  grid-area: image1;
  width: 80%;
}

.title-module {
  grid-area: title1;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.text-module {
  grid-area: text1;
  margin: 2%;
  text-align: justify;
  color: black;
  font-size: 14px;
}

.lesson {
  grid-area: lesson;
  display: grid;
  grid-template-areas:
    "image2 title2"
    "image2 text2";
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  background-color: #babd42;
}

.image-lesson {
  grid-area: image2;
  width: 80%;
}

.title-lesson {
  grid-area: title2;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.text-lesson {
  grid-area: text2;
  margin: 2%;
  text-align: justify;
  color: black;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .publicity,
  .projetct-description,
  .module-lesson {
    margin-top: 2%;
  }

  .text1,
  li {
    font-size: 20px;
  }

  .text2 {
    font-size: 18px;
    margin: 2% 3%;
  }

  .title-module,
  .text-module,
  .title-lesson,
  .text-lesson {
    font-size: 18px;
    text-align: left;
    margin: 0;
  }

  .image-module,
  .image-lesson {
    width: 50%;
  }
}
