@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
  color: azure;
}

html,
body {
  display: grid;
  background-color: #809a6f;
  margin: 1%;
}
